.footer {
	background-color: rgb(255, 203, 126);
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 8vh;
	margin-left: 0;
	margin-right: 0;
	box-shadow      :
		0 0 10px 0 rgba(150, 150, 150, 0.2),
		0 0 10px 0 rgba(150, 150, 150, 0.2),
		0 0 10px 0 rgba(150, 150, 150, 0.2),
		0 0 10px 0 rgba(150, 150, 150, 0.2);
}

.information {
	text-align: center;
	align-self: center;
	justify-content: center;
}