:root {
	--header-height: 100vh;
	--header-width : 100vw;
}

.header {
	background-image: url('/assets/image/music-score-sheet-vintage.jpg');
	width           : var(--header-width);
	height          : var(--header-height);
}

.header-logo {
	display: grid;
}

.logo-title {
	font-family  : VeganStyle;
	font-size    : 7vw;
	word-break   : break-all;
	color        : white;
	text-shadow  : 5px 5px 0 #343434;
	border-bottom: black;
}

.logo-description {
	margin-top          : -0.5em;
	font-family         : LemonJelly;
	font-size           : 3.5vw;
	color               : #3f4100;
	-webkit-text-stroke : 0.3px black;
	text-decoration-line: underline;
}

.navbar {
	background-color: rgba(245, 245, 245, 0.432);
	width           : 50%;
	height          : 7vh;
	margin-top      : -40vh;
	margin-left     : 25%;
	margin-right    : 25%;
}

.nav-options {
	height      : 100%;
	margin-left : 10px;
	margin-right: 10px;
}

.nav-button {
	height    : 100%;
	width     : fit-content;
	transition: all .2s ease;
	position  : relative;
}

.nav-button:before {
	cursor       : pointer;
	content      : "";
	position     : absolute;
	top          : 0;
	left         : 0;
	display      : block;
	border-radius: 16px;
	background   : #fff03985;
	width        : 32px;
	height       : 32px;
	transition   : all .3s ease;
}

.nav-button:hover:before {
	cursor    : pointer;
	width     : 100%;
	background: #fff03985;
}

.nav-button:active {
	cursor   : pointer;
	transform: scale(0.96);
}

.nav-button-label {
	cursor        : pointer;
	vertical-align: -webkit-baseline-middle;
	font-family   : SourceSansPro-Regular;
	padding-left  : 1em;
	padding-right : 5px;
	position      : relative;

}